<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>agent</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1">
	<link rel="stylesheet" href="../../src/css/register-agent.css">
</head>
<body>
	<div class="container">
		<div class="top"><div id="return"></div>代理商</div>
		<div class="agent">
			<p class="must">必填项</p>
			<div class="must-content">
				<div class="headimg">添加头像</div>
				<div class="ipt">
					<input type="text" placeholder="&nbsp;公司名">
					<input type="text" placeholder="&nbsp;企业邮箱/公司总机">
					<input type="text" placeholder="&nbsp;联系人">
					<input type="text" placeholder="&nbsp;联系方式">
				</div>
			</div>
			<p class="select">选填项</p>
			<div class="select-content">
				<input type="text" placeholder="&nbsp;微信号码">
				<div class="guart">
					<ul class="guarantee">
						<li>微信二维码</li>
						<li>营业执照</li>
						<li>租赁代理</li>
					</ul>
				</div>
			</div>
			<div class="complete"><button id="complete">完成</button></div>
		</div>
	</div>

<script src="../../src/js/return.js">
</script>
</body>
</html>