<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>content</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1">
	<link rel="stylesheet" href="../../src/css/register-content.css">
</head>
<body>
	<div class="container">
		<div class="top"><div class="return"></div>登录</div>
		<div class="content">
			<div class="name">
				<div class="name-icon"></div><label>账号:<input placeholder="请输入您的手机号" type="text"></label>
			</div>
			<div class="password">
				<div class="password-icon"></div><label>密码:<input placeholder="请输入您的密码" type="password"></label>
			</div>
			<button class="login">登录</button>
			<div class="select">
				<a id="register" href="register.html">&nbsp;注册</a><div></div><a id="forget" href="forget.html">忘记密码?&nbsp;</a>
			</div>

		</div>
	</div>

<script src="//cdn.bootcss.com/jquery/1.12.2/jquery.min.js"></script>
<script src="../../src/js/register-content.js">

</script>
</body>
</html>