<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="UTF-8">
	<title>about</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1">
	<link rel="stylesheet" href="../../src/css/me-about.css">
</head>
<body>
	<div class="top"><div id="return"></div>关于</div>
	<div class="container">
		<div class="icon"></div>
		<div class="icon-name"><span id="version">v1.0.0</span></div>
		<div class="line-one">
			<p>电话</p>
			<span id="Cache-value">021-68547845</span>
			<div></div>
		</div>
		<div class="line-two">
			<p>服务条款</p>
			<div></div>
		</div>
	</div>
	<script src="../../src/js/return.js">

	</script>
</body>
</html>