<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>housing-source</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1">
	<link rel="stylesheet" href="../../src/css/me-housing-source.css">
</head>
<body>
	<div class="top"><div id="return"></div>我发布的房源</div>
	<div class="container">
		<div class="container-content">
			<img src="../../src/img/content_img_list@2x.png" alt="">
			<div class="list-content">
				<p class="list-title">东方金融中心</p>
				<p class="list-ftitle">浦东-八佰伴</p><a class="list-tab">商务中心</a><p class="list-text"><span class="price">&yen;7</span>元/平米/天起 佣金:一个月</p>
			</div>
			<div class="content-delect">删除</div>
		</div>
		<div class="container-content">
			<img src="../../src/img/content_img_list@2x.png" alt="">
			<div class="list-content">
				<p class="list-title">东方金融中心</p>
				<p class="list-ftitle">浦东-八佰伴</p><a class="list-tab">商务中心</a><p class="list-text"><span class="price">&yen;7</span>元/平米/天起 佣金:一个月</p>
			</div>
			<div class="content-delect">删除</div>
		</div>
	</div>

	<script src="../../src/js/return.js">

	</script>
	<script src="//cdn.bootcss.com/jquery/1.12.2/jquery.min.js"></script>
	<script>

	</script>
</body>
</html>