<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1">
	<link rel="stylesheet" href="../../src/css/me-index.css">
</head>
<body>
	<div class="top">我<a href="install.html" id="install"></a></div>
	<div class="content">
		<div class="line-one">
			<div class="one-title">
				<div class="one-img"></div>
				<div class="one-text">呱呱呱叫<p>修改资料</p><img src="../../src/img/log-in_edit_icon@2x.png" alt=""></div>
				<a href="change-data.html" class="one-more"></a>
			</div>
			<div class="one-bottom">
				<a href="collection.html">64 <span>收藏</span></a>
				<a>624 <span>积分</span></a>
			</div>
		</div>
		<div class="line-two">
			<div class="two-img"></div>
			<div class="two-text">我发布的需求</div>
			<a href="remand.html" class="two-more"></a>
		</div>
		<div class="line-two">
			<div class="three-img"></div>
			<div class="two-text">我发布的房源</div>
			<a href="housing-source.html" class="two-more"></a>
		</div>
		<div class="line-two">
			<div class="four-img"></div>
			<div class="two-text">我预约的房源</div>
			<a href="bespeak.html" class="two-more"></a>
		</div>
		<div class="line-two">
			<div class="five-img"></div>
			<div class="two-text">历史交易</div>
			<a href="history.html" class="two-more"></a>
		</div>
		<div class="line-two">
			<div class="six-img"></div>
			<div class="two-text">过期房源</div>
			<a href="expire.html" class="two-more"></a>
		</div>
	</div>
	<div class="footer">
		<ul>
			<li><div class="first"></div>首页</li>
			<li><div class="apm"></div>预约</li>
			<li><div class="other"></div></li>
			<li><div class="ifm"></div>信息</li>
			<li class="active"><div class="me"></div>我</li>
		</ul>
	</div>
	<script src="../../src/js/href.js"></script>
</body>
</html>