<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>install</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1">
	<link rel="stylesheet" href="../../src/css/me-install.css">
</head>
<body>
	<div class="top"><div id="return"></div>设置</div>
	<div class="container">
		<div class="line-one">
			<p>接受需求</p>
			<div></div>
		</div>
		<a href="about.html" class="line-two">
			<p>关于</p>
			<div></div>
		</a>
		<div class="line-three">
			<p>清除缓存</p>
			<span id="Cache-value">7.02M</span>
			<div></div>
		</div>
		<div class="line-four">
			<button>退出登录</button>
		</div>
	</div>

	<div class="upload-inquiry">
			<div class="upload-icon">
				<p class="upload-title">您确定要清理缓存吗?</p>
				<div class="upload-select"><p class="upload-cancel">取消</p><p class="upload-confirm">确认</p></div>
			</div>
		</div>

	<script src="../../src/js/me-install.js">

	</script>
</body>
</html>