<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>personal-data</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1">
	<link rel="stylesheet" href="../../src/css/me-personal-data.css">
</head>
<body>
	<div class="top"><div id="return"></div>个人资料</div>
	<div class="container">
		<div class="headImg">
			<div class="icon"></div>
			<p id="name">普旌地产</p>
			<p id="autograph">以前喜欢一个人，现在喜欢一个人</p>
			<button>编辑个人资料</button>
		</div>
		<div class="line-one">
			<p>企业邮箱/公司总机</p>
			<div class="text">823546415@qq.com</div>
			<div class="blank"></div>
		</div>
		<div class="line-two">
			<p>联系人</p>
			<div class="text">张三</div>
			<div class="blank"></div>
		</div>
		<div class="line-two">
			<p>联系方式</p>
			<div class="text">18956024163</div>
			<div class="blank"></div>
		</div>
		<div class="line-two">
			<p>微信号码</p>
			<div class="text">18956024163</div>
			<div class="blank"></div>

		</div>
		<div class="image">
			<div><div></div><p>微信二维码</p></div>
			<div><div></div><p>营业执照</p></div>
			<div><div></div><p>运营/租赁协议</p></div>
		</div>
	</div>
	<script src="../../src/js/return.js">

	</script>
</body>
</html>