<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>remand</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1">
	<link rel="stylesheet" href="../../src/css/me-remand.css">
</head>
<body>
	<div class="top"><div id="return"></div>我发布的需求</div>
	<div class="container">
		<div class="content">
			<div class="content-title">
				<p class="title"> 一个新的租房需求</p><p class="date">08/04/13:06</p>
			</div>
			<p>需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m<sup>2</sup>/天左右，附近有地铁</p>
			<button>了解详情</button>
		</div>
	</div>
	<script src="../../src/js/return.js">
	</script>
</body>
</html>