<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>success</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1">
	<link rel="stylesheet" href="../../src/css/bespeak-success.css">
</head>
<body>
	<div class="success-situation">
		<div class="success-icon">
			<p class="success-title">预约看房成功</p>
			<div class="success-select"><p class="success-cancel">返回</p><p class="success-confirm">查看预约详情</p></div>
		</div>
	</div>
	<script src="../../src/js/bespeak-success.js"></script>
</body>
</html>