<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>search</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1,user-scaleable=0">
	<link rel="stylesheet" href="../../src/css/homepage-search.css">
</head>
<body onload="document.getElementsByClassName('search')[0].focus()">
	<div class="contenter">
		<div class="search-icon">
			<img src="../../src/img/banner_icon_search@2x.png" alt="">
		</div>
		<div class="search-la">
			<input class="search" type="text" placeholder="挑好房，上活力矩阵">
		</div>
		<div class="cancel"><a href="">取消</a></div>
		<div class="inform"><p class="search-inform">最近搜索</p><p class="search-reset">清除</p></div>
		<div class="search-forms">
			<ul>
				<li>创意产业园</li>
				<li>陆家嘴</li>
			</ul>
		</div>
	</div>
</body>
</html>