
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>海鸥租房 - 杭州瑞烁网络科技股份有限公司</title>
	<meta name="keywords" content="杭州瑞烁网络科技股份有限公司"/>
	<meta name="description" content="杭州瑞栎网络科技有限公司成立于2015年是一家专注于专业市场电子商务公司
杭州瑞栎网络科技有限公司成立于2015年， 公司主要经营教育软件 多媒体技术 游戏软件 计算机数据处理技术 计算机系统集成 教育信息咨询，公司秉承与客户共赢理念，为企业提供高效、务实的互联网营销服务，在专业市场的电子商务建设领域具有独特优势和丰富经验。"/>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1">
	<link href="//cdn.bootcss.com/Swiper/3.4.0/css/swiper.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../../src/css/index.css">
</head>
<body>
	<div class="container">
		<!--轮播图-->
		<div id="top" class="swiper-container">
			<div class="swiper-wrapper">
				<div class="swiper-slide">
					<img src="../../src/img/banner_img@22x.png" alt="">
				</div>
				<div class="swiper-slide">
					<img src="../../src/img/banner_img@22x.png" alt="">
				</div>
				<div class="swiper-slide">
					<img src="../../src/img/banner_img@22x.png" alt="">
				</div>
			</div>
			<!-- 如果需要分页器 -->
			<div class="swiper-pagination"></div>

			<!-- 如果需要滚动条 -->
			<div class="swiper-scrollbar"></div>
		</div>
		<!--选择城市-->
		<div class="city-select"><a id="city">上海</a><i></i></div>
		<!--搜索框-->
		<div class="search-container">
			<div class="search-box"><i class="icon-search"></i><span class="text-search">挑好房，上活力矩阵</span></div></div>
		<!--选项栏-->
		<div class="list-tabs">
			<ul>
				<li id="region">区域<div class="list-others"></div></li>
				<li id="area">面积<div class="list-others"></div></li>
				<li id="price">单价<div class="list-others"></div></li>
				<li id="more">更多<div class="list-others"></div></li>
				<li id="money"><div class="money"></div></li>
			</ul>
		</div>
		<div class="list-one" id="list-one">
			<img src="../../src/img/content_img_list@2x.png" alt="">
			<div class="list-content">
				<p class="list-title">东方金融中心 <span></span></p>
				<p class="list-ftitle">浦东-八佰伴</p>
				<p class="list-tab">商务中心</p>
				<div class="list-text"><p class="price">&yen;7</p><p class="oo">元/平米/天起</p><p class="xx">佣金:一个月</p></div>
			</div>
		</div>
		<div class="list-one">
			<img src="../../src/img/content_img_list@2x.png" alt="">
			<div class="list-content">
				<p class="list-title">东方金融中心 <span></span></p>
				<p class="list-ftitle">浦东-八佰伴</p>
				<p class="list-tab">商务中心</p>
				<div class="list-text"><p class="price">&yen;7</p><p class="oo">元/平米/天起</p><p class="xx">佣金:一个月</p></div>
			</div>
		</div>
		<div class="list-one">
			<img src="../../src/img/content_img_list@2x.png" alt="">
			<div class="list-content">
				<p class="list-title">东方金融中心 <span></span></p>
				<p class="list-ftitle">浦东-八佰伴</p>
				<p class="list-tab">商务中心</p>
				<div class="list-text"><p class="price">&yen;7</p><p class="oo">元/平米/天起</p><p class="xx">佣金:一个月</p></div>
			</div>
		</div>
		<div class="list-one">
			<img src="../../src/img/content_img_list@2x.png" alt="">
			<div class="list-content">
				<p class="list-title">东方金融中心 <span></span></p>
				<p class="list-ftitle">浦东-八佰伴</p>
				<p class="list-tab">商务中心</p>
				<div class="list-text"><p class="price">&yen;7</p><p class="oo">元/平米/天起</p><p class="xx">佣金:一个月</p></div>
			</div>
		</div>
		<div class="list-one">
			<img src="../../src/img/content_img_list@2x.png" alt="">
			<div class="list-content">
				<p class="list-title">东方金融中心 <span></span></p>
				<p class="list-ftitle">浦东-八佰伴</p>
				<p class="list-tab">商务中心</p>
				<div class="list-text"><p class="price">&yen;7</p><p class="oo">元/平米/天起</p><p class="xx">佣金:一个月</p></div>
			</div>
		</div>
		<div class="list-one">
			<img src="../../src/img/content_img_list@2x.png" alt="">
			<div class="list-content">
				<p class="list-title">东方金融中心 <span></span></p>
				<p class="list-ftitle">浦东-八佰伴</p>
				<p class="list-tab">商务中心</p>
				<div class="list-text"><p class="price">&yen;7</p><p class="oo">元/平米/天起</p><p class="xx">佣金:一个月</p></div>
			</div>
		</div>
		<div class="list-one">
			<img src="../../src/img/content_img_list@2x.png" alt="">
			<div class="list-content">
				<p class="list-title">东方金融中心 <span></span></p>
				<p class="list-ftitle">浦东-八佰伴</p>
				<p class="list-tab">商务中心</p>
				<div class="list-text"><p class="price">&yen;7</p><p class="oo">元/平米/天起</p><p class="xx">佣金:一个月</p></div>
			</div>
		</div>
		<a href="#top" class="return-top"></a>
		<div class="search-money"><div class="money-text">价格由低到高</div></div>
	</div>
	<div class="footer">
		<ul>
			<li class="active"><div class="first active"></div>首页</li>
			<li><div class="apm"></div>预约</li>
			<li><div class="other"></div></li>
			<li><div class="ifm"></div>信息</li>
			<li><div class="me"></div>我</li>
		</ul>
	</div>
	<div>
		<div class="search-region">
			<ul class="region-left">
				<li>全部</li>
				<li>闵行</li>
				<li class="active">浦东</li>
				<li>嘉定</li>
				<li>宝山</li>
				<li>闸北</li>
				<li>松江</li>
				<li>青浦</li>
				<li>徐汇</li>
				<li>崇明</li>
			</ul>
			<ul class="region-right">
				<li class="active">全部</li>
				<li>八佰伴</li>
				<li>川沙</li>
				<li>花木</li>
				<li>金桥</li>
			</ul>
		</div>
		<div class="search-area">
			<ul>
				<li>全部</li>
				<li>100m^以下</li>
				<li class="active">100-200m^</li>
				<li>200-300m^</li>
				<li>300-500m^</li>
				<li>500-1000m^</li>
				<li>1000m^以上</li>
			</ul>
			<div class="ipt"><input class="area-left" type="text"><div class="link">——</div><input class="area-right" type="text"></div>
		</div>
		<div class="search-price">
			<ul>
				<li>全部</li>
				<li>3元/m^/天以下</li>
				<li class="active">3-4/m^/天</li>
				<li>4-5元/m^/天</li>
				<li>5-7元/m^/天</li>
				<li>7-9元/m^/天</li>
				<li>9-12元/m^/天</li>
				<li>12元/m^/天以上</li>
			</ul>
			<input class="area-left" type="text"><div class="link">——</div><input class="area-right" type="text">
		</div>
		<div class="search-more">
			<ul class="more-left">
				<li>地铁</li>
				<li>房型</li>
				<li class="active">装修</li>
			</ul>
			<ul class="more-right">
				<li class="active">全部</li>
				<li>八佰伴</li>
				<li>川沙</li>
				<li>花木</li>
				<li>金桥</li>
			</ul>
		</div>
	</div>
	<div class="search-city">
		<div class="first">
			<a href="index.html">关闭</a>选择城市
		</div>
		<div class="select-one">北京</div>
		<div class="select-two">上海</div>
	</div>
<script src="//cdn.bootcss.com/jquery/1.12.2/jquery.min.js"></script>
<script src="//cdn.bootcss.com/Swiper/3.4.0/js/swiper.min.js"></script>
<script src="../../src/js/href.js"></script>
<script src="../../src/js/index.js"></script>
</body>
</html>