*{
	margin: 0;
	padding: 0;
}
.top{
	width: 100%;
	height:30px;
	text-align: center;
	line-height: 30px;
	color: #ea5404;
}
#return{
	width:15px;
	height:15px;
	background:url("../img/nav_back_icon@2x.png") no-repeat center;
	background-size: contain;
	position: absolute;
	top:10px;
	left: 10px;
}
.content{
	background-color: #f5f5f5;
	position: absolute;
	top:30px;
	right: 0;
	bottom:0;
	left: 0;
	padding-bottom: 80px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.man,.forms,.time,.state,.reason,.changeTime{
	width:100%;
	padding-left: 10px;
	line-height: 40px;
}
.man-content,.forms-content,.time-content,.state-content,.reason-content{
	background-color: #ffffff;
	width: 100%;
	display: flex;
	padding: 10px 0;
}
.forms-content,.time-content,.reason-content,.changeTime-content{
	display: inherit;
	padding: 10px 10px;
}
.state-content{
	padding: 10px;
	border-bottom: 1px #dbdbdb solid;
}
input[type='checkbox']{
	border: 1px solid #444444;
	width: 26px;
	height: 26px;
	position: absolute;
	top:8px;
	-webkit-appearance: none;
}
.man-img{
	flex: 1;
	width: 40px;
	height: 40px;
	background: url("../img/content_img_user@2x.png") no-repeat center;
	background-size: contain;
}
.man-text{
	flex: 3;
	border-right: 1px solid #dbdbdb;
}
.man-tel{
	flex: 1;
	background: url("../img/content_icon_call@2x.png") no-repeat center;
	background-size: contain;
	width: 18px;
	height: 18px;
	margin-top: 10px;
}
table{
	width: 100%;
}
td{
	font-size: 0.2rem;
	font-weight: 100;
}
.btn{
	width: 100%;
	margin: 30px 0;
}
button{
	display: block;
	border-radius: 5px;
	color: #ffffff;
	width: 90%;
	margin: 0 auto;
	background-color: #ea5404;
	text-align: center;
	height: 30px;
	line-height: 30px;
	border: none;
	outline: none;
}
.tel-situation,.Order-cancel{
	position: absolute;
	top:0;
	right: 0;
	bottom:0;
	left:0;
	background-color: rgba(0,0,0,0.3);
	display: none;
}
.release,.Order-icon{
	position: absolute;
	top:40%;
	right: 20%;
	left: 20%;
	background-color: #ffffff;
	border-radius: 10px;
}
.tel-title,.Order-title{
	text-align: center;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #dbdbdb;
}
.Order-confirm{
	text-align: center;
	height: 30px;
	line-height: 30px;
	color: #ea5404;
	font-weight:500;
}
.tel-select{
	display: flex;
}
.tel-confirm,.tel-cancel{
	color: #ea5404;
	height: 30px;
	line-height: 30px;
	text-align: center;
	flex: 1;
}
.tel-cancel{
	border-right: 1px #dbdbdb solid;
	color: #444444;
}
.state-date{
	flex: 1;
}
.white{
	flex: 3;
}
.state-situation{
	flex: 2;
	line-height:30px;
	text-align: center;
}
.reason-select{
	height: 40px;
	line-height: 40px;
	position: relative;
}
.specific{
	background-color: #dbdbdb;
	height: 100px;
	margin-right: 20px;
	display: none;
}
.specific input{
	background-color: inherit;
	border: none;
	outline: none;
	margin-left: 5px;
}
.select-card{
	position: fixed;
	right: 0;
	bottom:0;
	left:0;
	background-color: #ffffff;
}
.select-card ul{
	display: flex;
}
.select-card li,.select-card li a{
	text-decoration: none;
	flex: 1;
	list-style: none;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #ea5404;
	border-right: 1px solid #dbdbdb;
	font-weight: 500;
}
.changeTime{
	display: none;
}
.changeTime-content{
	width: 100%;
	height: 30px;
	background-color: #ffffff;
	display: none;
}
.changeTime-content input{
	background-color: inherit;
	border: none;
	outline: none;
	float: right;
	margin-right: -80px;
	margin-top: 8px;
}
/*预约弹窗*/
.bespeak-situation,.change-success{
	display: none;
	position: absolute;
	top:0;
	right: 0;
	bottom:0;
	left:0;
	background-color: rgba(0,0,0,0.3);
}
.bespeak-icon,.success-icon{
	position: absolute;
	top:40%;
	right: 20%;
	left: 20%;
	background-color: #ffffff;
	border-radius: 10px;
}
.bespeak-title,.success-title{
	font-size: 0.6rem;
	text-align: center;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #dbdbdb;
}
.success-confirm{
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #ea5404;
}
.bespeak-select{
	display: flex;
}
.bespeak-cancel{
	border-right: 1px #dbdbdb solid;
	color: #444444;
}
.bespeak-confirm,.bespeak-cancel{
	color: #ea5404;
	height: 30px;
	line-height: 30px;
	text-align: center;
	flex: 1;
}