*{
	padding: 0;
	margin: 0;
}
body{
	overflow: hidden;
	font-size: 8px;
}
.container{
	position: absolute;
	top:0;
	right: 0;
	bottom: 50px;
	left: 0;
	overflow: scroll;
}
.swiper-container {
	width: 100%;
	height: 320px;
	border-bottom: 10px #efeff4 solid;
}
.swiper-slide img {
	width: 100%;
	height: 100%;
}

.swiper-pagination-bullet {
	background: url("../img/banner_icon_point_nor@2x.png") no-repeat;
	background-size: cover;
	opacity: 1;
}
.swiper-pagination-bullet-active {
	background: url("../img/banner_icon_point_press@2x.png") no-repeat;
	background-size: cover;
}
.city-select {
	height: 30px;
	padding: 0 15px;
	color: #ffffff;
	position: absolute;
	top: 5px;
	left: 0;
	z-index: 10;
}
.city-select a {
	float: left;
	display: block;
	line-height: 30px;
	padding: 0 ;
	color: #ffffff;
	text-decoration: none;
}
.city-select i {
	float: left;
	display: block;
	width: 20px;
	height: 30px;
	background: url("../img/arrow-down.png") no-repeat center;
	background-size: 15px;
}
.search-container {
	position: absolute;
	top: 39px;
	right: 15px;
	left: 15px;
	z-index: 10;
	height: 35px;
	/*padding: 0 15px;*/
	text-align: center;
}
.search-box {
	width: 100%;
	height: 35px;
	color: #b4b4b4;
	line-height: 35px;
	border-radius: 5px;
	background-color: #f1f1f1;
}
.icon-search {
	display: inline-block;
	width: 35px;
	height: 35px;
	background: url("../img/banner_icon_search@2x.png") no-repeat center;
	background-size: 13px;
	vertical-align: bottom;
}
.list-tabs{
	width: 100%;
	height: 45px;
	border-bottom: 1px solid #e8e8e8;

}
.list-tabs ul{
	display: flex;
}
.list-others{
	width: 10px;
	height: 10px;
	margin: 0 auto;
	background: url("../img/content_icon02_nor@2x.png") no-repeat center;
	background-size: contain;
}
.list-others-clk{
	width: 10px;
	height: 10px;
	margin: 0 auto;
	background: url("../img/less.png") no-repeat center;
	background-size: contain;
}
.list-tabs li{
	flex: 2;
	height: 20px;
	margin-top: 10px;
	text-align: center;
	line-height: 20px;
	color: #646464;
	list-style: none;
	border-right: 1px solid #cccccc;
}
.list-tabs li#money{
	flex: 1;
	border-right: 0;
}
.money{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background: url("../img/content_icon01_nor@2x.png") no-repeat center;
	background-size: 20px;
}
.list-one,.list-two{
	padding: 10px 15px;
	overflow: hidden;
}
.list-one{
	border-bottom:6px #efeff4 solid;
	display: flex;
}
/*.list-two{*/
	/*border-bottom:10px #efeff4 solid;*/
/*}*/
.list-one>img,.list-two>img{
	width: 128px;
	height: 90px;
	flex: 1;
}
.list-content{
	flex: 1;
	margin-left:10px;
}
.list-title>span{
	float: right;
	margin-right: 15px;
	width: 15px;
	height: 15px;
	background: url("../img/collect_icon_nor@2x.png") no-repeat center;
	background-size: contain;
}
.list-title{
	font-size: 1rem;
	font-weight: bolder;
}
.list-ftitle{
	color: #979797;
	margin-top: 5px;
}
.list-tab{
	margin: 8px 0;
	border:1px #ee815a solid;
	width:60px;
	border-radius: 3px;
	color: #ee815a;
	text-align: center;
}
.list-text{
	display: flex;
	margin: 10px 0;
}
.oo{
	width: 78px;
}
.xx{
	float: right;
	width: 78px;
}
.price{
	color: #ee815a;
	font-size: 16px;
	line-height: 12px;
}
.footer{
	height: 50px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}
.footer ul{
	display: flex;
}
.footer li{
	flex: 1;
	height: 50px;
	list-style: none;
	text-align: center;
	color:#cfcfcf;
	padding: 5px 0;
}
.footer li.active{
	color:#f5bcab;
}
.footer .first{
	margin: 0 auto;
	width:23px;
	height: 23px;
	background: url("../img/bottom_press_icon04@2x.png") no-repeat;
	background-size: 20px;
}
.footer .apm{
	margin: 0 auto;
	width:23px;
	height: 23px;
	background: url("../img/bottom_nor_icon03@2x.png") no-repeat;
	background-size: 20px;
}
.footer .other{
	margin: 0 auto;
	width:46px;
	height: 46px;
	background: url("../img/bottom_icon05@2x.png") no-repeat;
	background-size:  46px;
}
.footer .ifm{
	margin: 0 auto;
	width:23px;
	height: 23px;
	background: url("../img/bottom_nor_icon02@2x.png") no-repeat;
	background-size:  20px;
}
.footer .me{
	margin: 0 auto;
	width:23px;
	height: 23px;
	background: url("../img/bottom_nor_icon01@2x.png") no-repeat;
	background-size:  20px;
}
.return-top{
	width: 47px;
	height: 47px;
	background: url("../img/content_btn_back@2x.png") no-repeat;
	background-size: contain;
	position: fixed;
	right: 30px;
	bottom:170px;
}
.search-content{
	background-color:#ffffff;
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	/*z-index: 10;*/
}
.search-region,.search-area,.search-price,.search-more,.search-money{
	width: 100%;
	position: fixed;
	z-index: 999;
	top:96px;
	display: none;
}
.region-left,.more-left{
	float: left;
	width: 50%;
	height: 450px;
	overflow: scroll;
	background-color:#dbdbdb;
}
.region-left>li,.more-left>li{
	list-style: none;
	background-color: #dbdbdb;
	width: 100%;
	height: 50px;
	line-height: 50px;
	margin-left: 10px;
}
.region-left>li.active,.more-left>li.active{
	background-color: #ffffff;
	margin-left: 0;
	padding:0 10px;
}
.region-right,.more-right{
	float: left;
	width: 50%;
	height: 450px;
	background-color: #ffffff;
}
.region-right>li,.more-right>li{
	list-style: none;
	background-color: #ffffff;
	width: 100%;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #f1f1f1;
	margin-left: 10px;
}
.region-left>li.active,.more-left>li.active{
	color:#ea5404;
}
.search-area,.search-price{
	background-color: #f7f7f7;
}
.search-area li,.search-price li{
	height: 50px;
	line-height: 50px;
	text-align: center;
	width: 100%;
	list-style: none;
}
.search-area li.active,.search-price li.active {
	background-color: #ffffff;
}
.ipt{
	width: 134px;
	margin: 0 auto;
	margin-bottom: 20px;
	display: flex;

}
.area-left{
	background-color: #ffffff;
	border: none;
	width:50px;
	height:20px;
}
.link{
	display: block;
	margin: 3px 5px;
}
.area-right{
	background-color: #ffffff;
	border: none;
	width:50px;
	height:20px;
}
.search-money {
	background-color: #f2f2f2;
	width: 100%;
	height: 60px;
}
.search-money .money-text{
	color: #ffffff;
	border-radius: 10px;
	width: 120px;
	background-color: #000;
	height: 30px;
	margin: 0 auto;
	margin-top: 5px;
	text-align: center;
	line-height: 30px;
}
.search-city{
	width: 100%;
	display: none;
}
a{
	float: left;
	text-decoration: none;
	font-weight: bold;
	color: #ea5404;
}
.select-one,.select-two{
	border-bottom: 1px solid #cccccc;
	width: 100%;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	font-weight: bold;
}