*{
	padding: 0;
	margin: 0;
}
body{
	overflow: hidden;
}
.top{
	width: 100%;
}
.tabs{
	list-style: none;
	margin: 10px auto;
	height: 30px;
	width: 70%;
	border: 1px solid #ea5404;
	display: flex;
	border-radius: 5px;
}
.tabs li{
	flex: 1;
	height: 30px;
	text-align: center;
	color: #ea5404;
	line-height: 30px;
	border-right: 1px solid #ea5404;
}
.tabs li.active{
	color: #ffffff;
	background-color:#ea5404;
}
.container{
	background-color: #dbdbdb;
	position: absolute;
	top:52px;
	right:0;
	bottom:50px;
	left:0;
	overflow: scroll;
}
.content-news,.content-notice,.content-need{

}
.content-child{
	background-color: #ffffff;
	width: auto;
	height: 130px;
	margin: 10px;
	position: relative;
}
.content-title{
	font-size: 1rem;
	border-bottom: 1px solid #cccccc;
	height: 30px;
	font-weight: 400;
	line-height: 30px;
	padding-left: 5px;
}
.content-text{
	font-size: 0.8rem;
	padding:5px;
	text-indent: 2em;
}
.content-time{
	font-size: 0.7rem;
	text-align: right;
	position: absolute;
	right: 5px;
	bottom: 15px;
}
.footer{
	height: 50px;
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}
.footer ul{
	display: flex;
}
.footer li{
	flex: 1;
	height: 50px;
	list-style: none;
	text-align: center;
	color:#cfcfcf;
	padding: 5px 0;
}
.footer li.active{
	color:#f5bcab;
}
.footer .first{
	margin: 0 auto;
	width:23px;
	height: 23px;
	background: url("../img/bottom_nor_icon04@2x.png") no-repeat;
	background-size: contain;
}
.footer .apm{
	margin: 0 auto;
	width:23px;
	height: 23px;
	background: url("../img/bottom_nor_icon03@2x.png") no-repeat;
	background-size: contain;
}
.footer .other{
	margin: 0 auto;
	width:46px;
	height: 46px;
	background: url("../img/bottom_icon05@2x.png") no-repeat;
	background-size: contain;
}
.footer .ifm{
	margin: 0 auto;
	width:23px;
	height: 23px;
	background: url("../img/bottom_press_icon02@2x.png") no-repeat;
	background-size: contain;
}
.footer .me{
	margin: 0 auto;
	width:23px;
	height: 23px;
	background: url("../img/bottom_nor_icon01@2x.png") no-repeat;
	background-size: contain;
}
.content-notice,.content-need{
	display: none;
}
.title-btn-one,.title-btn-two,.title-btn-three,.title-btn-four{
	width: 50px;
	height: 20px;
	font-size: 0.2rem;
	line-height: 20px;
	text-align: center;
	color: #ffffff;
	float: right;
	margin:4px 4px 0 0;
}
.title-btn-one{
	background-color: #15b755;
}
.title-btn-two{
	background-color: #0193e6;
}
.title-btn-three{
	background-color: #97b715;
}
.title-btn-four{
	background-color: #ea5404;
}
.content-btn{
	position: absolute;
	bottom: 15px;
	left: 0;
	right: 0;
}
.know{
	margin: 0 auto;
	width:70px;
	text-align: center;
	border-radius: 8px;
	padding: 5px 2px;
	font-size: 0.5rem;
	background-color: #efeff4;
}