*{
	margin: 0;
	padding: 0;
}
.top{
	width: 100%;
	height:30px;
	text-align: center;
	line-height: 30px;
}
#return{
	width:15px;
	height:15px;
	background:url("../img/nav_back_icon@2x.png") no-repeat center;
	background-size: contain;
	position: absolute;
	top:10px;
	left: 10px;
}
.container{
	background-color: #ededed;
	position: absolute;
	top:30px;
	right:0;
	bottom:0;
	left:0;
	overflow-y: scroll;
	overflow-x: hidden;
}
.icon{
	background: url("../img/content_img_logo@2x.png") no-repeat center 40px;
	background-size: 74px;
	width: 148px;
	height: 112px;
	margin: 0 auto;
}
.icon-name{
	background: url("../img/content_text_logo@2x.png") no-repeat 10px;
	background-size: 71px 19px;
	margin: 0 auto;
	width: 142px;
	height: 38px;
}
#version{
	position:relative;
	right: -88px;
	font-size: 0.3rem;
}
.line-one,.line-two{
	display: flex;
	background-color: #ffffff;
	margin: 10px 0;
	padding-left: 10px;
	position: relative;
}
.line-one p,.line-two p{
	flex: 1;
	height: 30px;
	line-height: 30px;
	font-size: 0.2rem;
}
.line-two div,.line-one div{
	position: absolute;
	right: 5px;
	background: url("../img/content_list_right_icon@2x.png")no-repeat center;
	background-size: 8px;
	width: 16px;
	height: 30px;
}
.line-one span{
	font-size: 0.2rem;
	position: absolute;
	right: 20px;
	top:8px;
}