*{
	margin: 0;
	padding: 0;
}
.top{
	margin-top: 30px;
	display: flex;
}
.release,.title,.top{
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.release{
	flex: 1;
	color: #fa3700;
}
.return{
	flex: 1;
}
.title{
	flex: 3;
	font-size: 1.2rem;
}
.content{
	position: absolute;
	top:60px;
	right:0;
	bottom:0;
	left:0;
	background-color: #dbdbdb;
}
#name,#telphone,.text{
	background-color: #ffffff;
	outline: none;
	border: none;
	height: 40px;
	display: block;
	width: 90%;
	margin: 10px 5%;
	border: 5px;
}
.text{
	height:200px;
	padding-top: 10px;
}
#text{
	background-color: transparent;
	width:100%;
	height: 40px;
	outline: none;
	border: none;
	display: block;
	margin-top: -70px;
}
.describe{
	color: #dbdbdb;
}
.release-situation{
	position: absolute;
	top:0;
	right: 0;
	bottom:0;
	left:0;
	background-color: rgba(0,0,0,0.3);
	display: none;
}
.release-icon{
	position: absolute;
	top:40%;
	right: 20%;
	left: 20%;
	background-color: #ffffff;
	border-radius: 10px;
}
.release-title{
	text-align: center;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #dbdbdb;
}
.release-select{
	display: flex;
}
.release-confirm,.release-cancel{
	color: #ea5404;
	height: 30px;
	line-height: 30px;
	text-align: center;
	flex: 1;
	text-decoration: none;
}
.release-cancel{
	border-right: 1px #dbdbdb solid;
	color: #444444;
}