<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Housing-resources</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1">
	<link rel="stylesheet" href="../../src/css/Release-Housing-resources.css">
</head>
<body>
	<div class="top">
		<div class="return">取消</div>
		<div class="title">发布房源</div>
		<div class="release"></div>
	</div>
	//新增楼盘
	<div class="add-situation">
		<div><input type="text" placeholder="输入您想要的楼盘"></div>
		<div><input type="text" placeholder="输入楼盘的地址"></div>
		<div style="margin-top: 20px"><form action="success.html"><button>确定提交</button></form></div>
	</div>
	<div class="content">
		<div class="search-line">
			<div class="search">
				<div class="search-icon"></div>
				<input type="text" placeholder="搜索想要发布的大厦">
			</div>
			<div class="add">
				<div class="add-icon"></div>新增楼盘
			</div>
		</div>
		<div class="floor-information">
			<div class="title"></div><p>大厦信息</p>
			<label>商圈:<input type="text" placeholder="浦东-八佰伴"></label><br>
			<label>物业:<input type="text" placeholder="上海浦江物业有限公司"></label><br>
			<label>层数:<input type="text" placeholder="23层"></label><br>
			<label>层高:<input type="text" placeholder="标准4.5米，净高2.75米，大堂14.5米"></label><br>
			<label>车位:<input type="text" placeholder="地上30个，地下400个，1250元/月"></label><br>
			<label>电梯:<input type="text" placeholder="客梯8部，货梯2部，三菱电梯"></label><br>
			<label>空调:<input type="text" placeholder="集中式中央空调"></label><br>
			<label class="length">入驻企业:<input type="text" placeholder="顺诚商业地产(房地产/建筑)、大大集团"></label><br>
			<label>地铁:<input type="text" placeholder="距离世纪大道站步行7分钟"></label>
		</div>
		<div class="house-inform">
			<div class="title"></div><p>房源信息</p>
			<div>请选择发布房源的属性</div>
			<div class="select-card">
				<label><input type="checkbox"> 整层</label>
				<label><input type="checkbox"> 整栋</label>
				<label><input type="checkbox"> 众创空间</label>
				<label><input type="checkbox"> 商务中心</label>
				<label><input type="checkbox"> 创意产业园</label>
				<label><input type="checkbox"> 写字楼</label>
				<label><input type="checkbox"> 工位</label>
			</div>
			<div class="specific">
				<div><label>房源面积 <input type="text" placeholder=" 20"></label> m<sup>2</sup></div>
				<div><label>房源单价 <input type="text" placeholder=" 6.5"></label> 元/m<sup>2</sup>/天</div>
				<div class="Delivery"><label>交付状态 <input type="text" placeholder=" 标准交付"><i class="Delivery-status"></i></label></div>
				<div><label>交付日期 <input type="text" placeholder=" 2015-06-21"></label> <i><img src="../../src/img/content_nor_icon@2x.png" alt=""></i> 是否现房</div>
				<div class="Delivery"><label>最短租期 <input type="text" placeholder=" 3年"></label></div>
				<div><label>付款方式 <input type="text" placeholder=" 押三付一"></label> <i><img src="../../src/img/content_nor_icon@2x.png" alt=""></i> 是否含发票</div>
				<div><label>是否结佣 <input type="text" placeholder=" 一个月"></label> <i><img src="../../src/img/content_nor_icon@2x.png" alt=""></i> 是</div>
				<div class="Delivery"><label>装修免租 <input type="text" placeholder=" 一个月"></label></div>
				<div class="time"><label>看房时间 <input type="text" placeholder=" 8:00"><input type="text" placeholder=" 20:00"></label></div>
				<div class="brief-introduction"><p>房屋简介</p><div><label><input type="text" placeholder=" 房源简介"></label></div></div>
				<div class="addimg">添加图片</div>
			</div>
		</div>
		<div class="footer">
			<button id="btn-one">确认发布</button></div>
	</div>
	//发布成功弹窗
	<div class="Release-cancel">
		<div class="Release-icon">
			<p class="Release-title">房屋发布成功，请稍后！</p>
			<p class="Release-confirm">确认</p>
		</div>
	</div>
	//取消弹窗
	<div class="bespeak-situation">
		<div class="bespeak-icon">
			<p class="bespeak-title">您确定要退出此次发布?</p>
			<div class="bespeak-select"><p class="bespeak-cancel">取消</p><p class="bespeak-confirm">确定</p></div>
		</div>
	</div>
	<script src="../../src/js/Release-Housing-resources.js">

	</script>
</body>
</html>