<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>index</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1,minimum-scale=1">
	<link rel="stylesheet" href="../../src/css/inform.css">
</head>
<body>
	<div class="top">
		<ul class="tabs">
			<li id="news" class="active">消息</li>
			<li id="notice">通知</li>
			<li id="need">需求</li>
		</ul>
	</div>
	<div class="container">
		<div class="content-news">
			<div class="content-child">
				<p class="content-title">你眼中”醉美夜滨江“摄影征集启动啦！</p>
				<p class="content-text">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩....你眼中”醉美“的滨江夜景在哪里？</p>
				<p class="content-time">08/04/13:06&nbsp;</p>
			</div>
			<div class="content-child">
				<p class="content-title">你眼中”醉美夜滨江“摄影征集启动啦！</p>
				<p class="content-text">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩....你眼中”醉美“的滨江夜景在哪里？</p>
				<p class="content-time">08/04/13:06&nbsp;</p>
			</div>
			<div class="content-child">
				<p class="content-title">你眼中”醉美夜滨江“摄影征集启动啦！</p>
				<p class="content-text">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩....你眼中”醉美“的滨江夜景在哪里？</p>
				<p class="content-time">08/04/13:06&nbsp;</p>
			</div>
			<div class="content-child">
				<p class="content-title">你眼中”醉美夜滨江“摄影征集启动啦！</p>
				<p class="content-text">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩....你眼中”醉美“的滨江夜景在哪里？</p>
				<p class="content-time">08/04/13:06&nbsp;</p>
			</div>
			<div class="content-child">
				<p class="content-title">你眼中”醉美夜滨江“摄影征集启动啦！</p>
				<p class="content-text">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩....你眼中”醉美“的滨江夜景在哪里？</p>
				<p class="content-time">08/04/13:06&nbsp;</p>
			</div>
			<div class="content-child">
				<p class="content-title">你眼中”醉美夜滨江“摄影征集启动啦！</p>
				<p class="content-text">霓虹璀璨，凉风习习，越看越美，让人心醉。外滩、陆家嘴、徐汇滨江、北外滩....你眼中”醉美“的滨江夜景在哪里？</p>
				<p class="content-time">08/04/13:06&nbsp;</p>
			</div>
		</div>
		<div class="content-notice">
			<div class="content-child">
				<p class="content-title">房源维护提示</p>
				<p class="content-text">您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新动态，5天后该房源将自动下架。<br>地址：徐汇-龙华 科技大厦</p>
			</div>
			<div class="content-child">
				<p class="content-title">房源维护提示</p>
				<p class="content-text">您在本平台上传一处房源信息，现在有效期马上就要到了，请到“我发布的房源”中更新动态，5天后该房源将自动下架。<br>地址：徐汇-龙华 科技大厦</p>
			</div>
		</div>
		<div class="content-need">
			<div class="content-child">
				<p class="content-title">一个新的租房需求<span class="title-btn-one">租户</span></p>
				<p class="content-text">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m^/天左右，附近有地铁</p>
				<div class="content-btn"><p class="know">了解详情</p></div><p class="content-time">08/04/13:06&nbsp;</p>
			</div>
			<div class="content-child">
				<p class="content-title">一个新的租房需求 <span class="title-btn-two">经纪人</span></p>
				<p class="content-text">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m^/天左右，附近有地铁</p>
				<div class="content-btn"><p class="know">了解详情</p></div><p class="content-time">08/04/13:06&nbsp;</p>
			</div>
			<div class="content-child">
				<p class="content-title">一个新的租房需求 <span class="title-btn-three">招商</span></p>
				<p class="content-text">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m^/天左右，附近有地铁</p>
				<div class="content-btn"><p class="know">了解详情</p></div><p class="content-time">08/04/13:06&nbsp;</p>
			</div>
			<div class="content-child">
				<p class="content-title">一个新的租房需求 <span class="title-btn-four">代理商</span></p>
				<p class="content-text">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m^/天左右，附近有地铁</p>
				<div class="content-btn"><p class="know">了解详情</p></div><p class="content-time">08/04/13:06&nbsp;</p>
			</div>
			<div class="content-child">
				<p class="content-title">一个新的租房需求 <span class="title-btn-four">代理商</span></p>
				<p class="content-text">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m^/天左右，附近有地铁</p>
				<div class="content-btn"><p class="know">了解详情</p></div><p class="content-time">08/04/13:06&nbsp;</p>
			</div>
			<div class="content-child">
				<p class="content-title">一个新的租房需求 <span class="title-btn-four">代理商</span></p>
				<p class="content-text">需求为：外滩SOHO，200平米写字楼，简装带家私，租金8元/m^/天左右，附近有地铁</p>
				<div class="content-btn"><p class="know">了解详情</p></div><p class="content-time">08/04/13:06&nbsp;</p>
			</div>
		</div>
	</div>
	<div class="footer">
		<ul>
			<li><div class="first active"></div>首页</li>
			<li><div class="apm"></div>预约</li>
			<li><div class="other"></div></li>
			<li class="active"><div class="ifm"></div>信息</li>
			<li><div class="me"></div>我</li>
		</ul>
	</div>

	<script src="//cdn.bootcss.com/jquery/1.12.2/jquery.min.js"></script>
<script src="../../src/js/news-index.js">

</script>
<script src="../../src/js/href.js"></script>
</body>
</html>